  <div> 
        <script>
            var map;
              function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 31.170, lng: -99.684},
                      zoom: 7
                   });
                  }
            </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"      async defer></script>
    <div id="map"></div>


