<h1 class="text-center">Texas State House District 28 Candidates</h1>
<div class="candidates-box">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top candidate-image" src="/assets/ElizMarkowitz.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Eliz Markowitz <i id="dem" class="fa fa-camera-retro"></i></h5>
          <p class="card-text">Some info on a Candidate</p>
          <a href="https://www.eliz4tx.com/" class="btn btn-link">Visit Website</a>
        </div>
      </div>        
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top candidate-image" src="/assets/ElizMarkowitz.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Eliz Markowitz <i id="dem" class="fa fa-camera-retro"></i></h5>
          <p class="card-text">Some info on a Candidate</p>
          <a href="https://www.eliz4tx.com/" class="btn btn-link">Visit Website</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top candidate-image" src="/assets/ElizMarkowitz.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Eliz Markowitz <i id="rep" class="fa fa-camera-retro"></i></h5>
          <p class="card-text">Some info on a Candidate</p>
          <a href="https://www.eliz4tx.com/" class="btn btn-link">Visit Website</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top candidate-image" src="/assets/ElizMarkowitz.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Eliz Markowitz <i id="rep" class="fa fa-camera-retro"></i></h5>
          <p class="card-text">Some info on a Candidate</p>
          <a href="https://www.eliz4tx.com/" class="btn btn-link">Visit Website</a>
        </div>
      </div>
    </div>
  </div>
</div>





