<h1 class="text-center"><%= @district.name %></h1>
<div class="candidates-box">
  <div class="row">
    <% for candidate in @district.candidates %>

    <!-- District HD134 -->
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/SarahDavis.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sarah Davis <i id="rep" class="fad fa-republican"></i></h5>
            <p class="card-text">Incumbent</p>
            <a href="https://sarahdavis134.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/sarahdavisrep134/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/SarahforHD134" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
         <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/LannyBose.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lanny Bose <i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://lannyfortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/lannyfortexas" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/lannyfortexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/AnnJohnson.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ann Johnson <i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.annjohnson.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/VoteAnnJohnson/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/VoteAnnJohnson" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/RubyPowers.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ruby Powers<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.rubyfortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/rubyfortexas" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/rubyfortexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>


<!-- District HD108 -->
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/MorganMeyer.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Morgan Meyer<i id="rep" class="fa fa-republican"></i></h5>
            <p class="card-text">Incumbent</p>
            <a href="https://morganmeyerfortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/MorganMeyerForTexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/MorganMeyerTX" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
         <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/JoannaCattanach.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Joanna Cattanach <i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://joannafortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/JoannaForTexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/JoannaCattanach" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/TomErvin.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tom Ervin<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://tomervinfortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/TomErvin108/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/TomForTexas108" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/ShawnTerry.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Shawn Terry<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.shawnfortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/ShawnforTexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/ShawnforTexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>

      <!-- District HD112 -->
            <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/AngieChenButton.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Angie Chen Button<i id="rep" class="fa fa-republican"></i></h5>
            <p class="card-text">Incumbent</p>
            <a href="http://www.angiebutton.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/ACBforTexas" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/AngieChenButton" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
         <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top candidate-image" src="/assets/BrandyChambers.png" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Brandy Chambers<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://brandykchambers.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/BrandyforTexas" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/BrandyforTexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/user.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Shane Newsome<i id="lib" class="fa fa-podium-star"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
          </div>
        </div>        
      </div>

      <!-- District HD138 -->
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/JoshFlynn.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Josh Flynn<i id="rep" class="fa fa-republican"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="http://joshflynn.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/JoshFlynn.Texas/?ref=search" class="btn btn-link">Facebook</a>
          </div>
        </div>        
      </div>
         <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/LaceyHull.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lacey Hull<i id="rep" class="fa fa-republican"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.laceyhull.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/LaceyHullForTexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/LaceyHullTx" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/ClaverKamauImani.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Claver Kamau-Imani<i id="rep" class="fa fa-republican"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://voteclaver.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/ApostleClaver/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/ApostleClaver" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/AkilahBacy.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Akilah Bacy<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.akilahbacy.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/akilahbacy/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/akilahbacy" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/JenniferPool.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jennifer Pool<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.facebook.com/JeniferPoolForTexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/JeniferRenePool" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/JoshWallenstein.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Josh Wallenstein<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://josh4texas.com" class="btn btn-link">Visit Website</a>
            <a href="https://twitter.com/joshwallenstein" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>

      <!-- District HD66 -->
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/MattShaheen.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Matt Shaheen<i id="rep" class="fa fa-republican"></i></h5>
            <p class="card-text">Incumbent</p>
            <a href="http://mattshaheen.com/index.html" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/mattshaheenGOP" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/MattShaheen" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/SharonHirsch.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sharon Hirsch<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.sharon4tx.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/Sharon4TX/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/Sharon4TX" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/AimeeGarzaLopez.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Aimee Garza Lopez<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://aimeegarzalopez.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/VoteforAimeeGarzaLopez/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/vote4aimeegarza" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>

      <!-- District HD67 -->
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/JeffLeach.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jeff Leach<i id="rep" class="fa fa-republican"></i></h5>
            <p class="card-text">Incumbent</p>
            <a href="https://jeffleach.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/leachfortexas" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/leachfortexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
         <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/TomAdair.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tom Adair<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.tomadairfortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://twitter.com/tomadair4tx" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/RocioGosewehrHernandez.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rocio Gosewehr Hernandez<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.rociofortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/RocioforTexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/RocioForTexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/AnthonyLo.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Anthony Lo<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://votelo4texas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/Lo4Texas/" class="btn btn-link">Facebook</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/LorenzoSanchez.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lorenzo Sanchez<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.lorenzofortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/lorenzofortexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/LorenzoForTexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>

      <!-- District HD26 -->
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/LeonardChan.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Leonard Chan<i id="rep" class="fa fa-republican"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.leonardchantx26.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/LeonardNChanTXDistrict26/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/LeonardTX26" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/JaceyJetton.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jacey Jetton<i id="rep" class="fa fa-republican"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.jaceyjetton.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/teamjetton/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/JaceyJetton" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/MattMorgan.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Matt Morgan<i id="rep" class="fa fa-republican"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.morgan4texas.com/" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/morgan4texas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/morgan4texas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/LawrenceAllen.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lawrence A. Allen<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.lallenjr26.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/AllenJr26/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/AllenJr26" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/SarahDeMarchant.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Laquitta "Sarah" DeMarchant<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.democratdemerchant.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/lorenzofortexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/LorenzoForTexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/SulemanLalani.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Suleman Lalani<i id="dem" class="fa fa-democrat"></i></h5>
            <a href="https://www.drlalanifortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/LalaniTX26/" class="btn btn-link">Facebook</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/RishOberoi.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rish Oberoi<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://rishfortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/rishoberoitx/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/rishoberoitx" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>

      <!-- District 64 -->
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/LynnStucky.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lynn Stuckey<i id="rep" class="fa fa-republican"></i></h5>
            <p class="card-text">Incumbent</p> 
            <a href="https://www.lynnstucky.com" class="btn btn-link">Visit Website</a>
            <a href="https://twitter.com/RepLynnStucky" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/AngelaBrewer.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Angela Brewer<i id="dem" class="fa fa-democrat"></i></h5>
            <a href="https://www.angelafortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/angelafortexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/angelafortexas" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>

      <!-- District HD121 -->
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/SteveAllison.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Steve Allison<i id="rep" class="fa fa-republican"></i></h5>
            <p class="card-text">Incumbent</p>
            <a href="http://www.stevefortexas.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/stevefortx/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/Stevefortx" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/BeccaDeFelice.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Becca DeFelice<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
            <a href="https://www.beccafortx121.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/becca4tx121/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/becca4TX121" class="btn btn-link">Twitter</a>
          </div>
        </div>        
      </div>
       <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/user.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jack Guerra<i id="dem" class="fa fa-democrat"></i></h5>
            <!-- <p class="card-text">Incumbent</p> -->
<!--             <a href="https://www.democratdemerchant.com" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/lorenzofortexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/LorenzoForTexas" class="btn btn-link">Twitter</a> -->
          </div>
        </div>        
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top candidate-image" src="/assets/CelinaMontoya.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Celina Montoya<i id="dem" class="fa fa-democrat"></i></h5>
            <a href="https://www.celinamontoya.org" class="btn btn-link">Visit Website</a>
            <a href="https://www.facebook.com/CelinaforTexas/" class="btn btn-link">Facebook</a>
            <a href="https://twitter.com/CelinaforTexas" class="btn btn-link">Twitter</a> 
          </div>
        </div>        
      </div>



    <% end %>
  </div>
</div>



