@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave&display=swap');


.navbar {
  font-family: 'Bangers', cursive;
  font-weight: 200;
}


h1 {
  font-family: 'Special Elite', cursive;
  font-weight: 600;
}


h2 {
  font-family: 'Six Caps', sans-serif;
}

 #map {
    height: 400px !important;
    width: 100% !important;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }