@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption&display=swap');



.navbar {
  font-family: 'PT Serif Caption', ;
  font-weight: 600px;
}



#navbar-logo {
  max-width: 800px;
  max-height: 600px;
}

.navbar-brand {
  font-family: 'Slabo 27px', serif;
  font-weight: 600;
  color: #2c3036;
}


h1 {
  font-family: 'PT Serif Caption', ;
  font-weight: 100;
  color: #0B3C68;
}


h2 {
  font-family: 'PT Serif Caption', ;
  color: #525252;
}



 #map {
    height: 500px !important;
    width: 100% !important;
    border-radius: 10px 10px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 10px;
    border-width: 10px;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif Caption', ;
  }

  .booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

body {
  font-family: 'PT Serif Caption', ;
  color: #2c3036;
}

.candidate-box {
  font-family: 'PT Serif Caption', ;
  padding: 70px;
  color: #2c3036;
}

.candidate-image {
  object-fit: cover;
  height: 250px;
}

dem {
  color: #4d05e8;
}

rep {
  color: #cf000f;
}

lib {
  color: #f5e51b
}


